@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    padding: 0;
    margin: 0;
}

.wrap {
    max-width: 901px;
    width: 100%;
    margin: 0 auto;
}

/* start header */
.header {
    padding-bottom: 104px;
    padding-top: 77px;
}

.menu {
    list-style-type: none;
    text-align: center;
}

.menu li {
    display: inline-block;
    padding: 0 124px 0 0;
}

.menu li:last-child {
    padding: 0;
}

.menu li a {
    text-decoration: none;
    font: 14px "Playfair Display", sans-serif;
}

.menu li a:hover {
    color: #03a9f4;
}

/* end header */
.menu li a,
.box-img p:nth-of-type(1) {
    text-transform: uppercase;
}

.box-img p,
.menu li a,
.box-img p:nth-of-type(1) {
    font-size: 14px;
}

.main-btn, .menu li a {
    color: #626262;
}


/* start content */
.box-img {
    display: inline-block;
    width: 419px;
}

.box-img:nth-child(odd) {
    margin-right: 29px;
}

.box-img:nth-child(even) {
    margin-left: 30px;
}

.box-img p:nth-of-type(1) {
    color: #b4ad9e;
    margin: 32px 0 28px;
    font-family: "Playfair Display";
}

.image {
    display: block;
    width: 100%;
    height: auto
}

.image:hover {
    opacity: 0.7;
}

.heading {
    color:  #626262;
    font: 30px "Playfair Display", sans-serif;
}

.box-img p {
    color:  #626262;
    font: 14px "Playfair Display", sans-serif;
    line-height: 24px;
}

.block .box-img:nth-of-type(1), 
.block .box-img:nth-of-type(2) {
    margin-bottom: 134px;
}

/* start button */
.box-btn {
    text-align: center;
}

.main-btn {
    display: inline-block;
    background-color: transparent;
    font-size: 24px;
    border: 1px solid #626262;
    margin: 90px 0 20px;
    padding: 21px 34px;
}

.main-btn:hover {
    background-color: #03a9f4;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: 1px solid transparent;
}
/* end button */


/* end content */ 